/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


.table-container {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}


th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.filter-button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    margin-bottom: 20px; 
}

.filter-container {
    display: flex;
    align-items: center; 
    margin-left: 20%;
}

#titleFilter {
    padding: 8px;
    width: 200px; 
    margin-right: 10px;
}

#isActiveFilter {
    margin-left: 10px; 
}


.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}


.add-package-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.add-package-btn a {
    text-decoration: none;
    color: white; 
}

.add-package-btn:hover {
    background-color: #45a049;
}

button.delete {
    background-color: #f44336;
    color: white;
  }
