header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272626;
    padding: 5px 10px;
    color: white;
}

.logo-container,
.nabl-certified,
.all-user-container,
.login-registration-container,
.packages-container,
.tests-container,
.appointments,
.requested-call,
.user-profile-container,
.home-collection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin-right: 1px;
    margin-left: 50px;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  footer {
    background-color: #384f4d;
    color: white;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .footer-description {
    flex: 1;
    padding: 10px;
    text-align: left;
  }
  
  .footer-description p {
    line-height: 1.6;
  }
  
  .footer-contact {
    flex: 1;
    padding: 10px;
    text-align: left;
  }
  
  .footer-contact ul {
    list-style-type: none;
  }
  
  .footer-contact li {
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-logo {
      margin-bottom: 20px;
    }
  }
  

  
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.left {
  display: flex;
  align-items: center;
}

img {
  width: 20px; 
  height: auto;
  margin-bottom: 5px; 
}

p {
  margin: 0;
  font-size: 12px;
}

.user-icon img {
  height: 30px;
  cursor: pointer;
}

