* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .test-container,
  .package-container {
    width: 80%;
    text-align: center;
    margin-left: calc(10vw);
    margin-right: calc(10vw);
  }

  .top-tests,
  .bottom-tests,
  .top-packages,
  .bottom-packages {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .test,
  .package {
    width: 23%;
    height: auto;
    background-color: #fff;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .test:hover,
  .package:hover {
    transform: scale(1.05);
  }
  
  .test img,
  .package img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .test h3,
  .package h3 {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .test p,
  .package p {
    font-size: 14px;
    color: #555;
  }
  
  .test .price,
  .package .price {
    font-size: 16px;
    color: #007BFF;
    margin-top: 10px;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  

  .request-a-call-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-left: calc(25.5vw);
    margin-right: calc(2525.5vw);
  }
  
  /* Form to arrange inputs and button in a row */
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  /* Form group for each input and label */
  .form-group {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  