/* Basic styling */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}
.table-container {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 10%;
}
.filter-container {
    margin-right: 10px;
}
.filter-container select {
    padding: 5px;
}
.top-right-button {
    position: absolute;
    top: +280px;
    right: 0;
    padding: 10px 20px;
    background-color: #c4bed7;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 18%;
}
.btn:hover {
    background-color: #45a049;
}

.user-container {
    width: 80%;
    margin: 0 auto;
}

.user-name, .user-email, .user-phone, .user-role {
    font-size: 18px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.user-detail-container, .edit-user-container{
    margin-left: 10%;
}